body{
  text-align: center;
  font-family: Times, serif;
  background-color: springgreen;
}
html{
  color: blue;
}

.aca{
  width:  250px;
  height: 150px;
  object-fit: fill;
}

img {
    float: right-side;
    width:  250px;
    height: 250px;
    object-fit: cover;
}

.Smash{
  background-color: springgreen;
  align-content: center;
  text-align: center;
  font-size: 30px;
}

.info1{
  margin:5px;
  align-content: center;
  text-align: center;
}

.info2{
  width:45px;height:45px;padding-right:5px;
  align-content: center;
  text-align: center;
}

.collapse {
   display: none;
 }

.collapse.in {
   display: block;
}

.bb{
  width:45px;height:45px;padding-right:5px;
}

.about{
  align-content: center;
  text-align:justify;
  display: inline-block;
  width: 1000px;
}

.bg-danger{
  margin:30px;width:200px;
  color:white;
}

.card-img-top{
  width:100%;
}

.team{
  display: flex; flex-direction: row;
}

.desc{
  align-content: center;
  text-align:justify;
  display: inline-block;
}

.card-link{
  color:white;
  width:45px;height:45px;padding-right:5px;

}

.card-header{
  background-color: deepskyblue;
}

.btn-primary{
  background-color: deepskyblue;
}

.collapseService{
  float: left;
}

.error {
  background-color: yellow;
  color : red;
}
