html{
    background: white;
    margin-left:auto;
    margin-right:auto;
}
header {
  margin-left:auto;
  margin-right:auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 10px 0;
    color: Tomato;
    text-shadow: 3px 3px 1px black;
    top: 18px;
    left: 10px;
    color: crimson;
}

img {
  display: block;
  margin: 0 auto;
  align: center;
}

legend{
    color : crimson;
}

fieldset, textarea {
  border: 0.1em solid dodgerblue;
  border-radius: 1.0em;
  Font-Family: 'Signika', Sans-Serif;
  margin: 20px;
  padding: 20px;
  color : black;
}

html {
  background-color: rgba(255, 99, 71, 0.5);
}

body {
  background-color: rgba(255, 99, 71, 0.5);
}

table {
    border: 1px solid Tomato;
}

#signature {
  text-align: right;
  color: red;
  font-style: italic;
  font-size: 75%;
}
